{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="page-content">
    <!-- inner page banner -->
    <div class="dz-bnr-inr overlay-secondary-dark dz-bnr-inr-sm"
         style="background-image:url('{% static 'images/background/bg3.jpg' %}');">
        <div class="container">
            <div class="dz-bnr-inr-entry">
                <h1>Blog Grid No Sidebar</h1>
                <nav aria-label="breadcrumb" class="breadcrumb-row">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'e_commerce:index' %}">Accueil</a></li>
                        <li class="breadcrumb-item">Blog Grid No Sidebar</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- inner page banner End-->
    <!-- Blog Large -->
    <section class="content-inner-1 bg-img-fix">
        <div class="container">
            <div class="row">
                {% for article in articles %}
                <div class="col-xl-6 col-lg-6">
                    <div class="dz-blog style-1 bg-white m-b30">
                        <div class="dz-media dz-img-effect zoom">
                            <img src="{{ article.couverture.url}}" alt="">
                        </div>
                        <div class="dz-info">
                            <h4 class="dz-title">
                                <a href="{% url 'blog:blog-detail' article.slug %}">{{ article.titre|truncatechars:35 }}</a>
                            </h4>
                            <p class="m-b0">{{ article.titre }}</p>
                            <div class="dz-meta meta-bottom">
                                <ul class="border-0 pt-0">
                                    <li class="post-date"><i class="far fa-calendar fa-fw m-r10"></i>{{ article.date_de_publication }}
                                    </li>
                                    <li class="post-comment"><a href="javascript:void(0);"><i class="far fa-comment-alt fa-fw"></i><span>15</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <nav aria-label="Blog Pagination">
                    <ul class="pagination text-center style-1 p-t20">
                        <li class="page-item"><a class="page-link prev" href="javascript:void(0);">Prev</a></li>
                        <li class="page-item"><a class="page-link active" href="javascript:void(0);">1</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                        <li class="page-item"><a class="page-link next" href="javascript:void(0);">Next</a></li>
                    </ul>
                </nav>
            </div>
    </section>
</div>
{% endblock content %}