{% extends 'base.html' %}
{% load static %}

{% block content %}
		
	<div class="page-content">
		<!-- inner page banner -->
		<div class="dz-bnr-inr overlay-secondary-dark dz-bnr-inr-sm" style="background-image:url('{% static 'images/background/bg3.jpg' %}');">
			<div class="container">
				<div class="dz-bnr-inr-entry">
					<h1>Checkout</h1>
					<nav aria-label="breadcrumb" class="breadcrumb-row">
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'e_commerce:index' %}">Home</a></li>
							<li class="breadcrumb-item">Checkout</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<!-- inner page banner End-->

		<!-- contact area -->
		<section class="content-inner-1">
			<!-- Product -->
			<div class="container">
				<form class="shop-form">
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<div class="widget">
								<h4 class="widget-title">Adresse d'expédition</h4>
								<div class="form-group">
									<select class="default-select">
										<option value="1">Åland Islands</option>
										<option value="2">Afghanistan</option>
										<option value="3">Albania</option>
										<option value="4">Algeria</option>
									</select>
								</div>
								<div class="row">
									<div class="form-group col-md-6">
										<input type="text" class="form-control" placeholder="Prénom(s)">
									</div>
									<div class="form-group col-md-6">
										<input type="text" class="form-control" placeholder="Nom">
									</div>
								</div>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Ville">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Adresse postale / Lieu de livraison">
								</div>
								<div class="row">
									<div class="form-group col-md-6">
										<input type="email" class="form-control" placeholder="Email">
									</div>
									<div class="form-group col-md-6">
										<input type="text" class="form-control" placeholder="Téléphone">
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
				<div class="dz-divider bg-gray-dark text-gray-dark icon-center  my-5"><i class="fa fa-circle bg-white text-gray-dark"></i></div>
				<div class="row">
					<div class="col-lg-6">
						<div class="widget">
							<h4 class="widget-title">Votre commande</h4>
							<table class="table-bordered check-tbl">
								<thead class="text-center">
									<tr>
										<th>IMAGE</th>
										<th>PRODUIT</th>
										<th>TOTAL</th>
									</tr>
								</thead>
								<tbody>
									{% for item in items %}
									<tr>
										<td class="product-item-img">
											<img src="{{ item.livre.couverture.url }}" alt="{{ item.livre.titre }}">
										</td>
										<td class="product-item-name">{{ item.livre.titre }}</td>
										<td class="product-price">{{ item.total }} FCFA</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<div class="col-lg-6">
						<form class="shop-form widget">
							<h4 class="widget-title">Total de la commande</h4>
							<table class="table-bordered check-tbl mb-4">
								<tbody>
									<tr>
										<td>Prix total</td>
										<td class="product-price">{{ total }} FCFA</td>
									</tr>
									<tr>
										<td>Frais d'expédition</td>
										<td>{{ frais_expedition }} FCFA</td>
									</tr>
									<tr>
										<td>Total</td>
										<td class="product-price-total">{{ total_general }} FCFA</td>
									</tr>
								</tbody>
							</table>
							<h4 class="widget-title">Moyen de paiement</h4>
							<div class="form-group">
								<select class="default-select" id="payment-method">
									<option value="mobile-money">Mobile money</option>
									<option value="credit-card">Carte de crédit</option>
									<option value="cash">Espèces</option>
								</select>
							</div>

							<!-- Formulaire pour Carte de crédit -->
							<div id="credit-card-form" class="payment-option-form" style="display: none;">
								<div class="form-group">
									<input type="text" id="card-holder" class="form-control" placeholder="Nom du titulaire de la carte">
								</div>
								<div class="form-group">
									<input type="text" id="card-number" class="form-control" placeholder="Numéro de la carte">
								</div>
								<div class="row">
									<div class="form-group col-md-6">
										<input type="date" id="card-expiry" class="form-control">
									</div>
									<div class="form-group col-md-6">
										<input type="text" id="card-cvv" class="form-control" placeholder="CVV">
									</div>
								</div>
							</div>

							<!-- Formulaire pour Mobile Money -->
							<div id="mobile-money-form" class="payment-option-form">
								<div class="form-group">
									<div class="operator-selection d-flex justify-content-between text-center">
										<label class="operator-option">
											<input type="radio" name="operator" value="orange">
											<img src="{% static 'images/operators/orange.png' %}" alt="Orange">
											<p>Orange</p>
										</label>

										<label class="operator-option">
											<input type="radio" name="operator" value="wave">
											<img src="{% static 'images/operators/wave.png' %}" alt="Wave">
											<p>Wave</p>
										</label>

										<label class="operator-option">
											<input type="radio" name="operator" value="mtn">
											<img src="{% static 'images/operators/mtn2.png' %}" alt="MTN">
											<p>MTN</p>
										</label>

										<label class="operator-option">
											<input type="radio" name="operator" value="moov">
											<img src="{% static 'images/operators/moov.png' %}" alt="Moov">
											<p>Moov</p>
										</label>
									</div>
								</div>
								<div class="form-group">
									<input type="tel" id="phone-number" class="form-control" name="phone" placeholder="Entrez votre numéro">
								</div>
							</div>

							<!-- Message pour Espèces -->
							<div id="cash-form" class="payment-option-form" style="display: none;">
								<div class="form-group">
									<p>Veuillez prévoir le montant exact à remettre au livreur lors de la réception.</p>
								</div>
							</div>

							<div class="form-group">
								<button class="btn btn-primary btnhover" type="button">Valider</button>
							</div>
						</form>
					</div>
				</div>

			</div>
			<!-- Product END -->
		</section>
		<!-- contact area End-->
	</div>
<script src="https://cdn.jsdelivr.net/npm/intl-tel-input@17/build/js/intlTelInput.min.js"></script>
<script>
	function updatePaymentFields() {
	  const selected = document.querySelector('.default-select').value;

	  const creditForm = document.getElementById('credit-card-form');
	  const mobileForm = document.getElementById('mobile-money-form');
	  const cashForm = document.getElementById('cash-form');

	  if (creditForm) creditForm.style.display = selected === 'credit-card' ? 'block' : 'none';
	  if (mobileForm) mobileForm.style.display = selected === 'mobile-money' ? 'block' : 'none';
	  if (cashForm) cashForm.style.display = selected === 'cash' ? 'block' : 'none';
	}

	// Appelé au chargement de la page
	window.addEventListener('DOMContentLoaded', updatePaymentFields);
</script>

<script>
	    // Initialiser avec la méthode de paiement par défaut (Carte de crédit)
    document.getElementById('payment-method').dispatchEvent(new Event('change'));

	const input = document.querySelector("#phone-number");
  	const iti = window.intlTelInput(input, {
    initialCountry: "ci", // CI pour Côte d'Ivoire
    preferredCountries: ["ci", "fr", "us"],
    utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"
  });
</script>
<script>
    document.getElementById('payment-method').addEventListener('change', function() {
        var paymentMethod = this.value;

        // Masquer tous les formulaires
        document.querySelectorAll('.payment-option-form').forEach(function(form) {
            form.style.display = 'none';
        });

        // Afficher le formulaire en fonction du choix
        if (paymentMethod === 'credit-card') {
            document.getElementById('credit-card-form').style.display = 'block';
        } else if (paymentMethod === 'mobile-money') {
            document.getElementById('mobile-money-form').style.display = 'block';
        } else if (paymentMethod === 'cash') {
            document.getElementById('cash-form').style.display = 'block';
        }
    });
</script>
{% endblock content %}